<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
      @media (max-width: 767px) {
        .hidden-mobile {
          display: none;
        }
      }
    </style>
<title>SPICE IT UP!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

  <!-- Header -->
  <header class="w3-container w3-xlarge w3-padding-24">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="w3-left w3-button w3-white">SPICE IT UP!</a>
  </header>

  <!-- Photo Grid -->
<div class="hidden-mobile">
  <div class="w3-row">
    <div class="w3-half">
      <img src="/static/ing.jpg" style="width:90%">
    </div>

    <div class="w3-half">
      <img src="/static/ing2.jpg" style="width:90%">
    </div>
  </div>
</div>

<!-- End Page Content -->
</div>

<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
  <h2>How it works</h2>
    <p>Wondering which ingredient could you add to your recipe to SPICE it up...? Welcome to SPICE IT UP!</p>
    <br>
    <label><b>Enter one or more ingredient to have suggested ingredients</b></label>
    <br>
    <br>

      <form action="/ing" method="GET">
              
                <input list="ing_list" name="ing1"/>
                <br>
                <br>
                <input list="ing_list" name="ing2"/>
                <br>
                <br>
                <input list="ing_list" name="ing3"/>
                <br>
                <br>
                <input list="ing_list" name="ing4"/>
                <datalist id="ing_list">
                  {% for elem in ing_list_autocomplete %}
                      <option value= "{{elem}}"></option>
                  {% endfor %}
                </datalist>
            </p>
        </div>
    </body> 

    <br>
    <div class="w3-section"> 
      <label><b>How are you feeling today?</b></label>
      <br>
      <br>
        <input type="radio" id="best_match" name="reco_type" value="best_match" checked> 
        <label for="male">Give me the best 5 matches!</label>
        <br>
        <input type="radio" id="random_best" name="reco_type" value="random_best">
        <label for="female">Give me a couple of good matches!</label>
        <br>
        <input type="radio" id="surprise_me" name="reco_type" value="surprise_me">
        <label for="other">Surprise me! --> it might be a surprisingly good match, or not... </label>
    </div>

    <button type="submit" class="w3-button w3-yellow">Let's find your next ingredients!</button>
  </form>

  <br>

  <!-- About section -->
  <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
    <h4><b>About Me</b></h4>
    <img src="/static/me.jpg" alt="Me" class="w3-image w3-padding-32" width="200" height="245">
    <div class="w3-content w3-justify" style="max-width:600px">
      <h4>Florian Marandet</h4>
      <p>This website is the result of a 1-week final project from a Data Science Bootcamp at SPICED Academy. 
      <p>It is based on <b>40 000 recipes</b> provided by Yummly - data availiable on Kaggle</p>
        
      <p> Although it is working, it should be considered as an MVP, as the model, and therefore the matching could be greatly improved. 
        I don't even mention the website: I am not a web dev, and I basically "learned" it while building it. 
        It's actually closer to a "collage" with a w3 background than a website So beware dev fellows if you have a look at the code source, you're likely to see many forbidden things!</p> 
        
      <p>The model was written in Python, and is actually a "simple" cosine similarity, measuring the likelihood appearance of each ingredient with one another. For multiple ingredients, I averaged the cosine (the model's biggest drawback).</p>
        
      <p><a href="https://www.linkedin.com/in/florianmarandet/"></a>The website hosted by Heroku, directly from a Git Repo. All the code is available on my <b>Github</b>.</a></p>  

        If you have a better idea on how to use cosine similarity with multiple ingredients, or simply want to get in touch with me, don't hesitate to send me a message on Linkedin!
      </p>
      <p>GitHub: 5353 35531</p>
      <p> Linkedin </p>
      <p>tel: 5353 35531</p>
      <hr class="w3-opacity">

</footer>
</body>
</html>

